<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<div class="featured">
    <p>FEATURED</p>
</div>
<div class="view">
    <h5>View ALL</h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
</div>



<div class="row">
    <div class="col">
       <img src="https://media6.ppl-media.com/tr:h-110,w-110,c-at_max,l-image,i-AD_35x235_small_kJWM53nMn1.png,w-60,lfo-top_right,l-end,dpr-2/static/img/product/348158/good-vibes-serum-powered-beauty-anti-blemish-glow-toner-vitamin-c-120-ml-29_10_display_1691570288_d2de53ef.jpg" class="card-img-top" alt="...">
          <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
        <div class="price">
            <h3>₹189</h3>
            <p>&nbsp;&nbsp;<del>₹199</del></p>
            <p>&nbsp;&nbsp;5% off</p>
         </div>
    </div>
    <div class="col">
        <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,l-image,i-AD_35x235_small_kJWM53nMn1.png,w-60,lfo-top_right,l-end,dpr-2/static/img/product/345508/alps-goodness-100-percentage-pure-cold-pressed-coconut-oil-100-ml_1_display_1689836381_59406ce1.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
           </div>
      </div>
      <div class="col">
        <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,l-image,i-AD_35x235_small_kJWM53nMn1.png,w-60,lfo-top_right,l-end,dpr-2/static/img/product/354779/good-vibes-gold-brightening-peel-off-mask-anti-bacterial-removes-acne-no-parabens-no-sulphates-no-mineral-oil-no-animal-testing-50-g-11-10_1_display_1701326078_41abb2ca.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
           </div>
      </div>
      <div class="col">
       <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,l-image,i-AD_35x235_small_kJWM53nMn1.png,w-60,lfo-top_right,l-end,dpr-2/static/img/product/259395/alps-goodness-coconut-argan-oil-and-hyaluronic-acid-hydrating-and-moisturizing-conditioner-for-dry-hair-200-ml_15_display_1667380679_c0a62b5e.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
           </div>
      </div>
      <div class="col">
       <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,l-image,i-AD_35x235_small_kJWM53nMn1.png,w-60,lfo-top_right,l-end,dpr-2/static/img/product/275407/alps-goodness-aloe-vera-hyaluronic-acid-and-ketoconazole-anti-dandruff-scalp-serum-for-dry-scalp-30-ml-97_15_display_1667385675_c66f1a57.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
          </div>
      </div>
</div>
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1701453230_creatives-for-purplle-takeover_thick-strip_lakme-serum_2560x-544-1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1701453237_moisturiser-1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  
  
  <div class="featured">
    <p>INFLUENCERS   FAVOURITE</p>
</div>
<div class="view">
    <h5>View ALL</h5>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
      </svg>
</div>



<div class="row">
    <div class="col">
        <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/341275/pond-s-super-light-gel-moisturiser-147-g-82_1_display_1688793116_6a5a9546.jpg" class="card-img-top" alt="...">
          <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
        <div class="price">
            <h3>₹132</h3>
            <p>&nbsp;&nbsp;<del>₹220</del></p>
            <p>&nbsp;&nbsp;40% off</p>
      </div>
    </div>
    <div class="col">
          <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/351912/lakme-sun-expert-spf-50-ultra-matte-lotion-100-ml_7_display_1602322251_81e35e0d.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹314</h3>
              <p>&nbsp;&nbsp;<del>₹515</del></p>
              <p>&nbsp;&nbsp;43% off</p>
        </div>
      </div>
      <div class="col">
          <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/312290/pond-s-age-miracle-wrinkle-corrector-day-cream-50g-16-69-11_17_display_1677562654_a4eea007.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
        </div>
      </div>
      <div class="col">
          <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/312288/lakme-lip-love-chapstick-cherry-4-5-g_7_display_1565674235_12d3951b.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
        </div>
      </div>
      <div class="col">
          <img src="https://media6.ppl-media.com/tr:h-250,w-250,c-at_max,dpr-2/static/img/product/345707/pond-s-serum-boost-sunscreen-cream-spf-55-50g_1_display_1676011454_95ada759.jpg" class="card-img-top" alt="...">
            <p class="card-text">Alps Goodness 100% pure glycerene (100ml)| super</p>
          <div class="price">
              <h3>₹189</h3>
              <p>&nbsp;&nbsp;<del>₹199</del></p>
              <p>&nbsp;&nbsp;5% off</p>
        </div>
      </div>
      
    
    
  </div>
  
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1701453486_hul_takeovertc_night_care-2596x836-1.jpeg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1701453237_moisturiser-1.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>





  

   <div class="row">
    <div class="col-6">
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701278156_mamaearth_ubtan_facewash_backup-1476x1028.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="col-6" >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701456658_cetaphil_new-1476x1028.jpeg" class="card-img-top" alt="...">
        </div>
   </div>
   <div class="row ">
    <div class="col-6">
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701210810_maybelline_light_it_up-1476x1028.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="col-6">
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701209718_good-vibes-app-size.jpg" class="card-img-top" alt="...">
        </div>
   </div>

   <div class="row ">
    <div class="col-6">
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701454601_mcaffeine_shower_gels-1476x1028.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="col-6">
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701201054_loreal_paris_takeover_copy_1-1476x1028.jpeg" class="card-img-top" alt="...">
        </div>
   </div>


   <div>
    <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1701171100_festive-reminder-web.jpg" alt="">
   </div>



   <div class="featured">
    <p>Top Brands For You</p>
   </div>



<div class="id">
    <div >
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701367912_kaja_chelly_charm-644x968.jpeg" class="card-img-top" alt="...">
    </div>
    <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1694516576_cosrx-644x968_1694507127056_12.png" class="card-img-top" alt="...">
      </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701367916_round_lab_product-644x968.jpeg" class="card-img-top" alt="...">
            
      </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701367911_i_dew_care_product-644x968.jpeg" class="card-img-top" alt="...">
           
      </div>
</div>

<div class="id">
    <div >
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701367908_dot_and_key_sunkissed-644x968.jpeg" class="card-img-top" alt="...">
    </div>
    <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701367910_dr.paw_paw-644x968.jpeg" class="card-img-top" alt="...">
      </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701248159_innisfree-644x968.jpeg" class="card-img-top" alt="...">
        </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701192352_clinique-644x968.jpeg" class="card-img-top" alt="...">
           
      </div>
</div>

<div class="id">
    <div >
        <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701332031_earth_rhytm-728x992.jpeg" class="card-img-top" alt="...">
    </div>
    <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701332034_glow_hub-728x992.jpeg" class="card-img-top" alt="...">
      </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701332015_tnw_revised-728x992.jpeg" class="card-img-top" alt="...">
        </div>
      <div >
          <img src="https://media6.ppl-media.com/tr:dpr-2/mediafiles/ecomm/misc/1701332024_acne_squad-728x992.jpeg" class="card-img-top" alt="...">
           
      </div>
</div>

<div>
    <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1685468458_discover_web.jpg" alt="">
</div>
<div>
    <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1639028230_alert-strip-web.jpg" alt="">
</div>
<div>
    <img src="https://media6.ppl-media.com/tr:w-1280,c-at_max,pr-true,dpr-2/mediafiles/ecomm/misc/1662556480_benefit-icons-strip-web.jpg" alt="">
</div>


<app-footer></app-footer>





